html {
	font-family: arial, sans-serif;
	font-size: small;
}

nav {
	background-color: #fff;
	color: #888;
	text-align: center;
	float: right;
	overflow: hidden;
	margin: -5px 15px 0px 20px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	margin: 0px 10px 0px 10px;
	color: #888;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li a img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.logo {
	position: fixed;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search  p {
	position: fixed;
    margin: 36% 35.75%; 
    display: inline;
    overflow: hidden;
    white-space: nowrap;
}

.search p a {
	color: blue;
	text-decoration: none;
}

.search p a:hover {
	text-decoration: underline;
}

.searchbutton{
	position: absolute;
	top: 47.5%;
	left: 47%;
	height: 35px;
	width: 150px;
	font-family: Arial, sans-serif;
	text-align: center;
	margin-top: -30px;
	margin-left: -120px;
	font-size: 13px;
	font-weight: bold;
	background-color: #f2f2f2;
	color: #888;
	border: none;
}
.luckybutton{
	position: absolute;
	top: 47.5%;
	left: 50%;
	height: 35px;
	width: 150px;
	font-family: Arial,sans-serif;
	text-align: center;
	margin-top: -30px;
	margin-left: 0px;
	font-size: 13px;
	font-weight: bold;
	background-color: #f2f2f2;
	color: #888;
	border: none;
}

button:hover {
	border: 1px solid #e6e6e6;
	color: black;
}

form {
	position: absolute;
    margin: 26% 27.75%;
    font-size: 13px;
}

form:hover {
	border: 1px solid #e6e6e6;
}

input {
	height: 32px;
	width: 550px;
}

footer {
	background-color: #f2f2f2;
	position: absolute;
	height: 42px;
	right: 0;
    bottom: 0;
	left: 0;
    border-top: 1px solid #e6e6e6;
    padding-right: 25px;
}

footer ul li {
	display: inline-block;  
	list-style-type: none;	
	line-height: 16px;
}

footer ul li a {
	text-decoration: none;
	text-align: float;
	color: #888;
	padding: 0px 15px;
}

footer ul li a:hover {
	text-decoration: underline;
}

.leftfooter {
	float: left;
	text-align: float;
	color: #888;
	padding-right: 10px;
	padding-left: -10px;
	margin-left: -40px;
}

.rightfooter {
	float: right;
	color: #888;
}

