html {
	font-family: arial, sans-serif;
	font-size: small;
}

nav {
	background-color: #fff;
	color: #888;
	text-align: center;
	float: right;
	overflow: hidden;
	margin: -5px 15px 0px 20px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	margin: 0px 10px 0px 10px;
	color: #888;
	text-decoration: none;
}


nav ul li a img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.logo {
	position: fixed;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);
}


footer {
	background-color: #f2f2f2;
	position: absolute;
	height: 42px;
	right: 0;
    bottom: 0;
	left: 0;
    border-top: 1px solid #e6e6e6;
    padding-right: 25px;
}

footer ul li {
	display: inline-block;  
	list-style-type: none;	
	line-height: 16px;
}

footer ul li a {
	text-decoration: none;
	text-align: float;
	color: #888;
	padding: 0px 15px;
}

.leftfooter {
	float: left;
	text-align: float;
	color: #888;
	padding-right: 10px;
	padding-left: -10px;
	margin-left: -40px;
}

.rightfooter {
	float: right;
	color: #888;
}